.header-main-section {
  height: 19vw;
  background-color: #f79400;
}

.xs-header-main-section {
  height: 28vw;
  background-color: #f79400;
}

.mat-home-fav-button {
  background-color: #00000066;
  border-radius: 4px;
}

.mat-xs-submit-spec-button {
  background-color: #24dca3;
  // border-radius: 4px;
}

.mat-login {
  color: #33cc99;
  border-radius: 4px;
}

.mat-xs-login {
  color: #33cc99;
  // border-radius: 4px;
}

.first-row {
  padding-top: 1.5vw;
}

.second-row {
  padding-top: 1vw;
}

.header-title {
  font-size: 3rem;
  font-weight: 600;
  color: white;
  // font-weight: 600;
}

.xs-header-title {
  font-size: 4.5vw;
  color: white;
  margin: 1% 0 0 0;
}

.header-description {
  color: white;
  font-size: 1.3vw;
}

.xs-header-description {
  color: white;
  font-size: 2.5vw;
  width: 70%;
  text-align: center;
  margin-top: 15px;
}

.search-row {
  padding-top: 2%;
}

.search-box {
  width: 25%;
  height: 30px;
  text-indent: 2%;
}

// :host /deep/.mat-checkbox-inner-container {
//   height: 1.5vw;
//   width: 1.5vw;
// }
