<section ngClass.gt-xs="header-main-section" ngClass.xs="xs-header-main-section">
  <div fxLayout="row" fxLayoutAlign="start start" class="first-row">
    <div fxFlex="27"></div>
    <div fxFlex fxLayoutGap="1.5%" fxLayoutGap.xs="1%" fxLayoutGap.sm="2%" fxLayoutAlign="flex-end">
    </div>
    <div fxFlex="7"></div>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center" class="second-row">
    <div>
      <div ngClass.gt-xs="header-title" ngClass.xs="xs-header-title">The Beer Bank</div>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center" class="third-row">
    <div ngClass.gt-xs="header-description" ngClass.xs="xs-header-description">Find your favourite beer here</div>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center" class="search-row">
    <input #searchInput placeholder="Search for Beer name" class="search-box">
  </div>

  <div fxLayout="row" fxLayoutAlign="center center" class="third-row">
    <a routerLink="/advanced-search" ngClass.gt-xs="advanced-Search" ngClass.xs="xs-header-description">Advanced Search</a>
  </div>
</section>
