<div class="wrapper" [ngStyle]="{'width': isForSuggestion ? '180px': '230px'}" [class.shadow]="mouseOvered" (mouseout)="mouseOvered=false"
  (mouseover)="mouseOvered=true">
  <div class="top-icons">
    <i class="fas fa-long-arrow-alt-left" style="display: none;"></i>
    <i class="fas fa-ellipsis-v" style="display: none;"></i>

    <i *ngIf="!(beer.isFavourited)" [ngClass]="{'far fa-heart': true}" [ngStyle]="{'color': '#f79400'}" (click)="markFavouriteOrUnFavourite()"></i>
    <i *ngIf="beer.isFavourited" [ngClass]="{'fa fa-heart': true}" [ngStyle]="{'color': '#f79400'}" (click)="markFavouriteOrUnFavourite()"></i>
  </div>

  <div class="profile" (click)="openBeerDetailsDialog()">
    <img [src]="beer?.image_url" class="thumbnail">
    <h3 class="name" [matTooltip]="beer.name" [matTooltipPosition]="'above'">{{beer?.name.length > 25 ?
      (beer.name.slice(0, 25) + '...') : beer.name}}</h3>
    <p class="description" [matTooltip]="beer.tagline" [matTooltipPosition]="'above'">{{beer?.tagline.length > 40 ?
      (beer?.tagline.slice(0, 40) + '...') : beer?.tagline}}</p>
  </div>
</div>
